@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@font-face {
  font-family: "Circular Std";
  src: url("/circular-std-medium-500.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply w-screen h-screen bg-bg-dark font-primary text-text-light;
}

#root {
  @apply w-full h-full flex justify-center items-center p-4 md:py-8 md:px-8 md:m-0;
}

#logo svg {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.scrollbar::-webkit-scrollbar {
  @apply w-[5px] bg-transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-accent rounded;
}

.pd-container {
  @apply p-4 md:p-8;
}

.volume-svg {
  @apply w-full h-full;
}

#trackSeekerInput:focus + div {
  @apply outline-2 outline-white outline outline-offset-2;
}

/* Slide in up animation from animatopy */
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
